.birthday{
    color:green;
}
.champion{
    color:red;
    font-weight: bold;
}
.info{
    padding-left: 13px;
    font-weight: bold;
}
a:before{
    padding-right: 5px;
    content:url('extref.png');
}
a{
    text-decoration: none;
}
.text{
    font-style: italic;
    color:blue;
}
.begin{
    color:blue;
    font-weight: bold;
}