
ul{
    margin: 0;
    padding: 10px 15px;
    list-style: none;
}
a{
    color:green;
}
.li_1,
.li_2, 
.li_3
{
    display: inline-block;
    padding:5px 8px;
    border-right:3px solid red;
}
.menu, #go {
    display:none;
}

#go:checked ~ .menu {
    display:block;
}
.st{
    padding-left: 10px;
    font-size: 24px;
    color:green;
}
.menu{
    position: absolute;
    left:380px;
    top:40px;
}