ul{
    padding: 10px 15px;
    list-style: none;
}
a{
    color:green;
}


@media screen and (max-width:400px){
  li{
      font-size: 28px;
      float: left;
      clear: both;
      text-align: center;
      min-width: 250px;
  }
  li{
      margin-right:30px;
  }
  .li_1,
  .li_2, 
  .li_3,
  .li_4,
  .li_5{
      border-left:3px solid red;
      border-right:3px solid red;
  }
li:nth-of-type(4) a:only-child{
    display: none;
} 
  }
@media screen and (min-width:401px) and (max-width:600px){ 
.main-menu .sub_menu{
    display: none;
}    
.main-menu > li:hover .sub-menu{
   display:block;
}
.main-menu .active{
    position: absolute;
    margin-top: -22px;
    margin-left: 370px;
}

  .li_1,
  .li_2, 
  .li_3{
      border-left:3px solid red;
      display: inline-block;
      padding:5px 8px;
  }
  .li_3{
      border-right: 3px solid red;
  }
}
@media screen and (min-width:601px){
    body{
        font-size:2em;
    }
    li{
        background:url("chess.png")no-repeat;
    }
    a{
        padding-left: 25px;
    }
    .li_1,
.li_2, 
.li_3,
.li_4 {
    display: inline-block;
    padding:5px 8px;
    border-right:3px solid red;
}
}
   